.my-button {
  background-color: #E2D9C8 !important;
  transition: 0.3s !important; 
 
}
.my-button-l{
    left: 30px !important;
}
.my-button-r{
    right: 30px !important;
}

.my-button:hover {
  background-color: #c9bba3!important; 
     
}
.swiper-wrapper{
    height: fit-content !important;
}
.custom-card {
  border-radius: 20px !important;
  height: auto !important; /* يخلي الكارد يلم على قد اللي جواه */
  background-color: white;
  margin-bottom: 10px;
}

.card-img-container {
  height: 180px; /* تقليل ارتفاع الصورة شوية عشان الكارد كله يلم */
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
}

.card-body {
  padding: 15px !important;
}

.card-text {
  /* لو الكلام سطر واحد الكارد هيصغر، لو سطرين هيكبر سنة */
  margin-bottom: 15px !important;
}

.price-tag {
  color: #3d251e;
  font-weight: 800;
}

/* إخفاء السهم في الموبايل عشان الزحمة */
@media (max-width: 576px) {
  .card-img-container {
    height: 150px; 
  }
}