h3{
    font-family: "Playfair Display";
}
button{
    font-family: "outfit";
}
h2,p{
    font-family: "poppins";
}
iframe[id*=":1.container"], 
iframe.goog-te-banner-frame, 
#goog-gt-tt, 
.goog-te-balloon-frame {
    display: none !important;
    visibility: hidden !important;
}


body {
    top: 0px !important;
    position: static !important;
}

html {
    padding-top: 0px !important;
}

.goog-te-gadget-icon {
    display: none !important;
}


.goog-te-gadget {
    display: none !important;
}

#goog-gt-tt {
    display: none !important;
}